.slds-modal__content {
  overflow: initial;
}
.THIS .slds-popover_tooltip,
.THIS .slds-popover--tooltip {
  background: red; /* background color */
  color: black; /* text color */
}
.disabled-class {
  pointer-events: none;
  opacity: 0.7;
}
