:host {
  display: block;
}

/* Grayed out effect for "Read-Only" mode when disabled */
.disabled-state {
  opacity: 0.7;
}

.disabled-state a {
  text-decoration: underline; /* Keep it look clickable */
}

/* Ensure the action menu icon is still clearly visible */
.disabled-state lightning-button-menu {
  opacity: 1;
}
