/* .slds-modal__content{
  overflow: initial;
} */
/* 
.THIS .slds-popover_tooltip,
.THIS .slds-popover--tooltip {
  background:red;
  color:black;
}
.disabled-class{
  pointer-events: none;
  opacity: 0.7;
} */

/* .datatable-full-size {
  width: 100% !important;
} */

/* :host {
  overflow-y: auto !important;
} */
