# Unique name for this workflow
name: Validate Pull Request

# Definition when the workflow should run
on:
  workflow_dispatch:
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review]

# Jobs to be executed
jobs:
  # Dummy job used to skip CI run on automated PRs
  skip-ci:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Noop
        run: |
          echo "Skipping CI run for automated PRs."

  # Formatting and linting only runs on human-submitted PRs
  validate-pull-request:
    permissions:
      pull-requests: write
      contents: read
      actions: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Install Volta
        uses: volta-cli/action@v4

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ">=20.x"
          cache: "npm"

      - name: Install dependencies
        run: HUSKY=0 npm ci # Prefer `npm ci` for reproducible build

      - name: Verify Prettier
        run: npm run prettier:verify

      - name: Verify EsLint
        run: npm run lint:verify

      - name: Run Lightning Web Components Unit Test
        run: npm run test:unit:coverage

      - name: Ensure java v11 or greater
        uses: actions/setup-java@v5
        with:
          java-version: ">=11"
          distribution: "zulu"

      - name: Ensure python v3.10 or greater
        uses: actions/setup-python@v6
        with:
          python-version: ">=3.10"

      - name: Install Salesforce CLI
        run: npm install -g @salesforce/cli@latest

      - name: Create unsigned plugin allowlist for Salesforce CLI
        run: |
          mkdir -p $HOME/.config/sf
          echo '["@salesforce/plugin-code-analyzer"]' > $HOME/.config/sf/unsignedPlugingAlloList.json

      - name: Install Latest Salesforce Code Analyzer CLI Plugin
        run: sf plugins install code-analyzer@latest

      - name: Run Salesforce Code Analyzer
        id: run-code-analyzer
        uses: forcedotcom/run-code-analyzer@v2
        with:
          run-arguments: --workspace . --view detail --output-file sfca_results.html --output-file sfca_results.json
          results-artifact-name: salesforce-code-analyzer-results
          github-token: ${{ github.token }}

      - name: "Check the ouputs To Determine Whether to Fail"
        if: |
          steps.run-code-analyzer.outputs.exit-code > 0 ||
          steps.run-code-analyzer.outputs.num-sev1-violations > 10 ||
          steps.run-code-analyzer.outputs.num-sev2-violations > 10 ||
          steps.run-code-analyzer.outputs.num-violations > 10
        run: exit 1

      - name: "Populate auth file with DEVHUB_SFDX_URL secret"
        shell: bash
        run: |
          echo ${{ secrets.DEVHUB_SFDX_URL }} > ./DEVHUB_SFDX_URL.txt
          secretFileSize=$(wc -c "./DEVHUB_SFDX_URL.txt" | awk '{print $1}')
          if [ $secretFileSize == 1 ]; then
              echo "Missing DEVHUB_SFDX_URL secret. Is this workflow running on a fork?";
              exit 1;
          fi

      # Authenticate dev hub
      - name: "Authenticate Dev Hub"
        run: sf org login sfdx-url -f ./DEVHUB_SFDX_URL.txt -a devhub -d

      # Create scratch org
      - name: "Create scratch org"
        run: sf org create scratch -f config/project-scratch-def.json -a scratch-org -d -y 1

      # Deploy source to scratch org
      - name: "Push source to scratch org"
        run: sf project deploy start

      # Assign permissionset
      - name: "Assign permissionset to default user"
        run: sf org assign permset -n LWCRecipes

      # Run Apex tests in scratch org
      - name: "Run Apex tests"
        run: sf apex test run -c -r human -d ./tests/apex -w 20

      # Upload code coverage data
      - name: "Upload code coverage for Apex to Codecov.io"
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: Apex

      # Housekeeping
      - name: "Delete scratch org"
        if: always()
        run: sf org delete scratch -p -o scratch-org

      # Upload code coverage data
      - name: "Upload code coverage for LWC to Codecov.io"
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: LWC

  # Auto merge Dependabot PRs for:
  # - patch updates on prod dependencies
  # - minor updates on dev dependencies
  dependabot-auto-merge:
    # Only run for Dependabot PRs
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: "Fetch Dependabot metadata"
        id: dependabot
        uses: dependabot/fetch-metadata@v2

      - name: "Check auto merge conditions"
        id: auto-merge
        if: |
          (
            steps.dependabot.outputs.update-type == 'version-update:semver-patch' &&
            contains('direct:production,indirect:production', steps.dependabot.outputs.dependency-type)
          ) || (
            contains('version-update:semver-minor,version-update:semver-patch', steps.dependabot.outputs.update-type) &&
            contains('direct:development,indirect:development', steps.dependabot.outputs.dependency-type)
          )
        run: echo "::notice ::auto-merge conditions satisfied"

      - name: "Approve and merge PR"
        if: steps.auto-merge.conclusion == 'success'
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --rebase "$PR_URL"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
